$box-shadow-light: 6px 6px 5px -2px rgba(0, 0, 0, 0.18);
$background-color-light: rgb(242, 236, 236);

$box-shadow-light: 6px 6px 5px -2px rgba(0, 0, 0, 0.18);
$box-shadow-dark: 10px 10px 10px -5px rgba(0, 0, 0, 0.18);

$text-color-nav: #f4eee2;
$color-two: #9c3b7c;
$color-three: #3b9c7d;

$primary-1: #bdcbf5;
$primary-2: #6585e7;
$primary-3: #6585e7;

$primary: #3963e0;

$primary-4: #1f49c6;
$primary-5: #18399a;
$primary-6: #11296e;

$secondary-1: #fdeeb5;
$secondary-2: #fbe383;
$secondary-3: #fad752;

$secondary: #f8cc20;

$secondary-4: #dfb207;
$secondary-5: #ad8b05;
$secondary-6: #7c6304;

$grey1: #f8f8f8;
$grey2: #e8e8e8;
$grey3: #d3d3d3;
$grey4: #b8b8b8;
$grey5: #989898;
$grey6: #2f4f4f;

// #f4eee2

$grid-padding-default: 2rem;
